{% extends "layout.html" %}
{% block content %}
       <div class="panel panel-default">
       <div class="panel-heading">About</div>
       <div class="panel-body">

	<div class="content-section">
       This idea birthed from the gossip of students potentially being "hacked". A person thought it would be humorous
to present, in a nice format, the names of access points (AP's or SSID's) that were "counter-revolutionary" to the ambiguous rule.
	<p> The data provided is only a sample, nonetheless, your presence on this list is deserving of proper counsel.</p>
	   </div>

       <h4>Brought to you by Techno the Hero.</h4>
       </div>
       </div>
{% endblock content %}



