{% extends "layout.html" %}
{% block content %}
       <div class="panel panel-default">
       <div class="panel-heading">About</div>
       <div class="panel-body">

	<div class="content-section">
	<h1>Background</h1>
       <p>This idea birthed from the gossip of students using wireless routers or access points in Innovator's Hall. A person was inspired to fulfill the presentation 
	   of wireless networks that may not be permitted as (soon to be) noted in the Guide to Residental Living.
	   </p>
	   <p>The information presented is obtained in a <b>non-intrusive manner</b> and complies with United States federal law. This information is not personally identifiable
	   and the network names may be considered free speech: <a href="https://www.bleepingcomputer.com/news/legal/are-wifi-network-names-protected-by-the-first-amendment/">Are WiFi Network Names Protected by the First Amendment?</a>. 
	   <p>Besides that I paid a lot of money like other students to live and learn here, I'm not desperate. Please view the code on GitHub for an understanding of how this operates and visit the links provided for more information. 
	   Consult professional counsel if you are unsure about the information provided on this site.
	   </p>
	   </p>


	   <h1>Misconceptions</h1>
	   <p>People often confuse the terms of <b>router</b>, <b>switch</b>, and <b>access point</b>. 
	   According to the Student Life Department: A device that connects to the network (wired or wirelessly) may not create a network of its own and a device may not interfere with Innovator's Hall network. (The person 
	   who operates said devices may not act in a malicious intent either. <b>;)</b> )
	   </p>
	   
	   <p> For example, if you build a wall around your house, people must be able to freely pass through your wall without restriction in both directions. If 
	   people must be <b>"inspected"</b> or <b>"filtered"</b> before passing you must deconstruct you wall or allow traffic without filtering.
	   </p>
	   <p> In terms of networking equipment, a switch "switches" or passes data between its ports without filtering to where it passes, or if it may pass. An <i>access point</i> works under the same principle but switches data between a wired network to
	   a wireless network. However, <b>access points may not be used as they create interference with the residence's supplied wireless network</b>, and may degrade performance for other residents. Routers (wired or wireless) create said networks
	   but may be configured to act as a switch thus, allowing traffic to flow <b>without</b> filtering. This setting may be labeled as <b>switch mode</b> in you router's settings.
	   </p>
	   <p><b>Please consult the Department of Student Life for questions about the Guide to Residental Living.</b></p><p></p>
	   

	   <h1>Printers, Media Devices, Hotspots, etc.</h1>
	   <p>Some devices such as a PS3&#9415;/PS4&#9415;, Roku&#9415;, Chromecast&#9415;, smart-television, or wirelessly enabled printer may emit a network of its own and <b>"does not"</b> route traffic to the Internet.
	   These types of devices are permitted because they <b>"cannot"</b> route traffic to the Internet, despite the vulnerabilities these devices may unknowingly present.</p> 	   
	   <p>A general rule to follow: <b>If you're not using it, turn it off</b></p>
	   <p>Devices such as hotspots or smartphones may emit a network that routes traffic to the Internet. Be judicious, the Internet connection at Innovator's Hall is <b>fast</b> and your signal may cause interference and 
	   become problematic for others.</p>

	   <h1>Further Reading</h1>
	   <p><a href="https://www.tangiblesecurity.com/images/docs/238-6c01.pdf">Tangible Security - Ethical Hacking and the Legal System</a></p>
	   <p><a href="https://www.freemanlaw-pllc.com/computer-fraud-abuse-act-cfaa/">Freeman Law - The Computer Fraud and Abuse Act (CFAA)</a></p>
	   <p><a href="https://www.copyright.gov/legislation/dmca.pdf">Copyright.gov - THE DIGITAL MILLENNIUM COPYRIGHT ACT OF 1998 - U.S. Copyright Office Summary</a></p>
	   <p><a href="https://it.ojp.gov/PrivacyLiberty/authorities/statutes/1285">U.S. Department of Justice - Electronic Communications Privacy Act of 1986 (ECPA), 18 U.S.C. &#167; 2510-22.</a></p>
	   
	<p> The data provided is only a sample, nonetheless, seek proper counsel should questions arise.
	This site is not connected to Capitol Technology University or Jenzabar Technology University.</p>
	   </div>


       <h4>Brought to you by Techno the Hero.</h4>
       </div>
       </div>
{% endblock content %}



